@tailwind base;
@tailwind components;
@tailwind utilities;

/*
  |--------------------------------------------------------------------------
  | Fonts
  |--------------------------------------------------------------------------
  |
  |
*/

@import './fonts/_geist.css';
