/*
 |--------------------------------------------------------------------------
 | TailwindCSS Directives
 |--------------------------------------------------------------------------
 |
 | Import TailwindCSS directives and swipe out at build-time with all of
 | the styles it generates based on your configured design system.
 |
 | Please check this link for more details:
 | https://tailwindcss.com/docs/installation#include-tailwind-in-your-css
 |
 */
@import './_tailwind.css';

/*
 |--------------------------------------------------------------------------
 | Theme
 |--------------------------------------------------------------------------
 |
 | Import filament theme
 |
 |
 */
@import './views/_filament.css';
@import '../../vendor/awcodes/filament-table-repeater/resources/css/plugin.css';

/*
 |--------------------------------------------------------------------------
 | Font
 |--------------------------------------------------------------------------
 |
 | Import fonts
 |
 |
  */

@import './fonts/_geist.css';


/*
 |--------------------------------------------------------------------------
 | Configuration
 |--------------------------------------------------------------------------
 |
 | Import tailwind configuration for the app.  @import must precede all other statements (besides @charset or empty @layer)
 |
 |
 */
@config '../../tailwind.filament.config.js';
