.tooltipModal {
	background-color: white;
	position: fixed;
	border: 1px solid #d1d1d1;
	background-color: #f9f9f9;
	z-index: 9999;
	color: #939291;
	font-size: 9pt;
	max-width: 300px;
	min-width: 280px;
	opacity: 1;
	transition: opacity .25s ease-out;
	border-radius: 4px;
	width: 100px;
}

.close {
	cursor: pointer;
	font-size: 10pt;
    float: right;
    margin-left: 10px;
}