* {
  > .fadeInRight {
    /* z-index: calc(50 - #{$i}); */
    opacity: 0;
    transform: translateX(35px);
    animation: fadeInRight-animation 0.5s ease-out;
    animation-fill-mode: forwards;
    /* animation-delay: calc(#{$i * 0.1}s); */
  }
  > .fadeInUp {
    opacity: 0;
    transform: translateY(35px);
    animation: fadeInUp-animation 0.5s ease-out;
    animation-fill-mode: forwards;
  }
}

@keyframes fadeInRight-animation {
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}
@keyframes fadeInUp-animation {
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
