@layer base {
  /* 100 – Thin */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-Thin.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 100;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-ThinItalic.ttf') format('truetype');
  }

  /* 300 – Light */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 300;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-LightItalic.ttf') format('truetype');
  }

  /* 400 – Regular */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 400;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-Italic.ttf') format('truetype');
  }

  /* 500 – Medium */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-Medium.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 500;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-MediumItalic.ttf') format('truetype');
  }

  /* 700 – Bold */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-Bold.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 700;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-BoldItalic.ttf') format('truetype');
  }

  /* 900 – Black */
  @font-face {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-Black.ttf') format('truetype');
  }
  @font-face {
    font-family: 'Roboto';
    font-style: italic;
    font-weight: 900;
    font-display: swap;
    src: url('../fonts/roboto/Roboto-BlackItalic.ttf') format('truetype');
  }
}